<h1>Agregar producto {{ msg }}</h1>
<hr>

<form [formGroup]="myForm">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Nombre:</label>
        </div>
        <div class="col-auto">
            <input class="form-control"
                    formControlName="name">
        </div>
        <div class="col-auto">
            <span   [isValid]="!haveError('name')"
                    errorMsg
                    [message]="msg"
                    [color]="color">
                    </span>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary"
                    (click)="changeName()">
                Guardar
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary"
                    (click)="changeColor()">
                Color
            </button>
        </div>
    </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Value: {{ myForm.value | json }}</pre>
<pre>valid: {{ myForm.valid }}</pre>
<pre>invalid: {{ myForm.invalid }}</pre>
<pre>touched: {{ myForm.get("name")?.touched }}</pre>

<div class="row mt-5">
    <div class="col">
        <div class="alert alert-primary"
             *customIf="!haveError('name')">
            Todo Ok!
        </div>
    </div>
</div>